<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script src="/js/product-button.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <h1 class="text-center font-weight-bold m-5">Orders</h1>
    <hr/>
    <th:block th:switch="${orders == null || orders.isEmpty()}">
        <th:block th:case="false">
            <table class="m-auto table table-striped">
                <thead>
                <tr class="row w-100 m-auto">
                    <th class="col-3">Username</th>
                    <th class="col-3">Email</th>
                    <th class="col-3">Ordered On</th>
                    <th class="col-3">Product</th>
                </tr>
                </thead>
                <tbody>
                    <th:block th:each="order : ${orders}" th:object="${order}">
                        <tr class="row w-100 m-auto">
                            <td class="col-3" th:text="*{username}"></td>
                            <td class="col-3" th:text="*{email}"></td>
                            <td class="col-3" th:text="*{orderedOn}"></td>
                            <td class="col-3"><a th:text="*{productName}" th:href="*{productHref}"></a></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </th:block>
    <h2 th:case="true" class="font-weight-bold text-center m-5">No orders</h2>
</th:block>
</th:block>
</body>
</html>