<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script src="/js/product-remove.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <h1 class="text-center font-weight-bold m-5">My Smartphones</h1>
    <hr/>
    <th:block th:switch="${smartphones == null || smartphones.isEmpty()}">
        <th:block th:case="false">
            <table class="m-auto table table-striped">
                <thead>
                <tr class="row w-100 m-auto text-center">
                    <th class="col-4">Name</th>
                    <th class="col-4">Status</th>
                    <th class="col-4">Actions</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="smartphone : ${smartphones}" th:object="${smartphone}">
                    <tr class="row w-100 m-auto">
                        <th:block th:switch="${#strings.equals('APPROVED', smartphone.status)}">
                            <th:block th:case="true">
                                <td class="col-4 text-center">
                                    <a th:href="@{/smartphones/details/{id}(id=*{id})}" th:text="*{name}"></a>
                                </td>
                            </th:block>
                            <th:block th:case="false">
                                <td class="col-4 text-center" th:text="*{name}"></td>
                            </th:block>
                        </th:block>
                        <td class="col-4 text-center" th:text="*{status}"></td>
                        <td class="col-4 d-flex justify-content-center">
                            <button class="btn reject-btn">Remove</button>
                            <input type="text" th:value="*{id}" hidden/>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <input type="text" id="route" value="/smartphones/remove" hidden/>
            <input type="text" id="_csrf" th:value="${_csrf.token}" hidden/>
        </th:block>
        <h2 th:case="true" class="font-weight-bold text-center m-5">No smartphones</h2>
    </th:block>
</th:block>
</body>
</html>