<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script src="/js/products-pending.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <h1 class="text-center font-weight-bold">Smartphones</h1>
    <hr/>
    <th:block th:switch="${smartphones == null || smartphones.isEmpty()}">
        <th:block th:case="false">
            <th:block th:each="smartphone : ${smartphones}" th:object="${smartphone}">
                <div>
                    <div>
                        <div class="row justify-content-center">
                            <img th:src="*{imageUrl}" height="200" width="200"/>
                        </div>
                        <h2 th:text="*{name}" class="text-center m-4"></h2>
                        <div class="row justify-content-center">
                            <div class="col-3 text-left">CPU:</div>
                            <div class="col-3 text-right" th:text="*{cpu}"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 text-left">Display:</div>
                            <div class="col-3 text-right" th:text="*{display}"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 text-left">Memory:</div>
                            <div class="col-3 text-right" th:text="*{memory}"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 text-left">RAM:</div>
                            <div class="col-3 text-right" th:text="*{ram}"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 text-left">OS:</div>
                            <div class="col-3 text-right" th:text="*{OS}"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 text-left">Battery:</div>
                            <div class="col-3 text-right" th:text="*{battery}"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 text-left">Camera:</div>
                            <div class="col-3 text-right" th:text="*{camera}"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 text-left">SIM:</div>
                            <div class="col-3 text-right" th:text="*{SIM}"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 text-left">Price:</div>
                            <div class="col-3 text-right" th:text="'&#36;' + *{price}"></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6 text-center">Description:</div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <textarea class="my-textarea" rows="6" th:text="*{description}" disabled></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-3 d-flex justify-content-between align-items-start">
                            <button class="btn approve-btn">Approve</button>
                            <button class="btn reject-btn">Reject</button>
                            <input type="text" th:value="*{id}" hidden/>
                        </div>
                    </div>
                    <hr/>
                </div>
                <input id="route" type="text" value="/smartphones/update" hidden />
                <input type="text" id="_csrf" th:value="${_csrf.token}" hidden />
            </th:block>
        </th:block>
        <h2 th:case="true" class="font-weight-bold text-center m-5">No laptops</h2>
    </th:block>
</th:block>
</body>
</html>