<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<th:block layout:fragment="content">
    <h1 class="text-center font-weight-bold">Register Moderator</h1>
    <div class="w-50 mx-auto">
        <form th:action="@{/admin/register}" method="post" th:object="${model}">
            <div class="form-group w-45">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username"
                       placeholder="Username..." th:field="*{username}" required>
                <small class="text-danger" th:each="error : ${#fields.errors('username')}" th:text="${error}"></small>
            </div>
            <div class="form-group w-45">
                <label for="email">Email</label>
                <input class="form-control" type="text" id="email" name="email"
                       placeholder="Email..." th:field="*{email}" required>
                <small class="text-danger" th:each="error : ${#fields.errors('email')}" th:text="${error}"></small>
            </div>
            <div class="form-group w-45">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password"
                       placeholder="Password..." th:field="*{password}" required>
            </div>
            <div class="form-group w-45">
                <label for="confirmPassword">Confirm Password</label>
                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                       placeholder="Confirm Password..." th:field="*{confirmPassword}" required>
                <small class="text-danger" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}"></small>
            </div>
            <div class="button-holder d-flex justify-content-around">
                <button type="submit" class="btn b-and-w mb-4">Register</button>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>

